<p style="color: green"><%= notice %></p>

<% content_for :title, "Orders" %>

<h1>Заказы</h1>

<div class="table-responsive mx-5">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Имя заказчика</th>
                <th>Адрес</th>
                <th>Email</th>
                <th>Тип оплаты</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody id="orders-items">
          <%= render @orders %>
        </tbody>
    </table>
</div>

<p><%= will_paginate @orders %></p>