<% content_for :title, "New order" %>
<div class="w-25 mx-auto">
<h1><%= t('order.new') %></h1>

<%= render "form", order: @order %>

<br>

<div class="text-center">
  <%= link_to t('btn.back'), store_index_path, class: "btn btn-light" %>
</div>
</div>