<% content_for :title, "New order" %>
<div class="mx-auto">

<%= render "form", order: @order %>

<br>

<div class="text-center">
  <%= link_to t('btn.back'), store_index_path, class: "btn btn-light" %>
</div>
</div>