<% content_for :title, "Editing product" %>
<div class="w-25 mx-auto">
<h1>Редактирование</h1>

<%= render "form", product: @product %>

<br>

<div class="text-center">
  <%= link_to "Вернуться к списку", products_path, class: "btn btn-light" %>
</div>
</div>